{
    "remote-address": "http://localhost:4000",
    "local-name": "local-estate-0",
    "accessToken": "le0Secret",
    "game-version": "0.16.51",
    "rcon-port": 34198,
    "rcon-password": "rconpass",
    "techsync-period": 15,
    "autosave-period": 900
}
